html {
	height: 100%;
}

body {
	height: 100%;
	overflow-x: hidden;
/*	background-color: gray;*/
	background: rgb(39,32,22);
	background: linear-gradient(180deg, rgba(39,32,22,1) 0%, rgba(71,66,59,1) 25%, rgba(110,105,100,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-family: Henderson Slab, sans-serif;
	font-weight: 300;
	font-size: 35px;
	color: white;
	text-align: center;
}

img {
	width: 100%;
}

.homepage-logo-container {
	margin: 30px auto;
	width: 40vw;
	pointer-events: none;
}

.homepage-nav-container {
	margin: 30px auto;
	width: 40vw;
	text-align: center;
	position: absolute;
}

.homepage-mobile-image {
	position: fixed;
	top: 90vw;
}

.homepage-grid {
	display: none;
	vertical-align: right;
	margin-right: 0;
	grid-template-columns: 1fr;
}

.subpage-logo-container {
	margin: 30px auto;
	width: 40vw;
	pointer-events: none;
}

.subpage-nav-container {
	display: none;
}

.services-img-container {
	display: none;
}

h2 {
	font-family: Henderson Slab, sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: white;
	padding-bottom: 4px;
}

nav {
	display: block;
	margin: auto;
	text-align: center;
	width: 93%;
}

nav a {
	font-family: Henderson Slab, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: white;
	text-decoration: none;
}

nav ul li {	
	display: inline;
	float: center;
	padding-left: 100px;
}

main {
	padding: 7vw;
}

p {
	font-family: Usual, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: white;
	line-height: 20px;
}

.grid {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	width: 90%;
	margin: 0vw 7vw;
	margin-top: 0vw;
	margin-left: 7vw;
	margin-right: 7vw;
}

.grid div {
	display: flex;
	align-items: center;
	background-color: #3b3b3b;
	padding: 20px;
}

.about-body {

}

.about-staff {

}

.about-map {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width:100%;
}

.about-contact {

}

footer {
	position: absolute;
	padding: 7vw;
	margin-top: 7vw;
	background-color: #262626;
	width: 100vw;
	color: white;
	font-family: Usual, sans-serif;
	font-size: 13px;
}

/*Media queries*/

/*@media only screen and (min-width: 916px) {
	nav {
		display: none;
	}
}*/

@media only screen and (min-width: 768px) {
	img {
		width: 100%;
	}

	.homepage-grid {
		align-items: center;
		justify-content: center;
		display: grid;
		position:fixed;
		top: 0;
  		left:70%;
	}

	.homepage-nav-container {
		width: 50vw;
		margin: auto;
	}

	.top-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-right: 10vw;
	}

	.subpage-logo-container {
		display: inline-block;
		width: 20vw;
		margin-top: 40px;
		margin-left: 7vw;
	}

	.subpage-nav-container {
		display: inline-block;
	}

	.services-img-container {
		display: block;
		position: fixed;
		width: 30vw;
		right: 4vw;
		top: 22vw;
	}

	h1 {
		text-align: left;
	}

	nav {
		display: inline-block;
		list-style-type: none;
		text-decoration: none;
		margin: auto;
		width: 93%;
	}

	nav ul {
		float: right;
	}

	a {
		border-bottom: 1px solid transparent;
	}

	a:hover {
		color: #e6cb7a;
		transition: all .3s ease-in-out;
		fill: #e6cb7a;
		border-color: #e6cb7a;
	}

	main {
		max-width: 50vw;
		padding: 4vw 7vw 7vw 7vw;
	}

	.grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		width: 80%;
		margin: auto 7vw;
	}

	.about-main {
		max-width: 60vw;
	}

	.about-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 85px;
		grid-row-gap: 20px;
	}

	.about-body { grid-area: 1 / 1 / 2 / 3; }
	.about-staff { grid-area: 1 / 3 / 2 / 4; }
	.about-map { grid-area: 2 / 1 / 3 / 2; }
	.about-contact { grid-area: 2 / 2 / 3 / 4; }

	/*.about-body {
		display: inline-block;
	}

	.about-staff {
		display: inline-block;
	}

	.about-map {
		float: left;
		display: inline-block;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: auto;
		width: 40vw;
	}

	.about-contact {
		display: inline-block;
		width: 40vw;
	}*/

	footer {
		padding: 1vw 1vw 1vw 7vw;
	}
}

@media only screen and (min-width: 1024px) {
	.grid {	
		grid-template-columns: 1fr 1fr 1fr;
	}
}