html {
	height: 100%;
}

body {
	height: 100%;
	overflow-x: hidden;
/*	background-color: gray;*/
	background: rgb(39,32,22);
	background: linear-gradient(180deg, rgba(39,32,22,1) 0%, rgba(71,66,59,1) 25%, rgba(110,105,100,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* START of Mobile Menu */
.hamburger-nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #666;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #666;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #efefef;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    text-align: center;
    font-family: Henderson Slab, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: white;
	text-decoration: none;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #333;
    height: 70px;
    line-height: 70px;
}
.menu-mobile a:hover {
    color: red;
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }
/* END OF Mobile Menu */

h1 {
	font-family: Henderson Slab, sans-serif;
	font-weight: 300;
	font-size: 35px;
	color: white;
}

img {
	width: 100%;
}

.homepage-logo-container {
	margin: 30px auto;
	width: 40vw;
}

.homepage-nav-container {
	margin-top: 20vw;
}

.homepage-grid {
	display: none;
	vertical-align: right;
	margin-right: 0;
	grid-template-columns: 1fr;
}

.subpage-logo-container {
	margin: 30px auto;
	width: 40vw;
}

.subpage-nav-container {
	display: none;
	margin: auto;
	text-align: center;
	width: 93%;}

h2 {
	font-family: Henderson Slab, sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: white;
	padding-bottom: 4px;
}

nav {
	display: none;
	margin: auto;
	text-align: center;
	width: 93%;
}

nav a {
	font-family: Henderson Slab, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: white;
	text-decoration: none;
}

nav ul li {	
	display: inline;
	float: center;
	padding: 15px;
}

.content-container {
	padding: 7vw;
}

p {
	font-family: Usual, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: white;
	line-height: 20px;
}

.grid {
	display: inline-grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	width: 90%;
	margin: 0vw 7vw;
}

.grid div {
	display: flex;
	align-items: center;
	background-color: #3b3b3b;
	padding: 20px;
}

.about-body {

}

.about-staff {

}

.about-map {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width:70%;
}

.about-contact {

}

footer {
	position: absolute;
	padding: 7vw;
	margin-top: 7vw;
	background-color: #262626;
	width: 100vw;
	color: white;
	font-family: Usual, sans-serif;
}

/*Media queries*/
@media only screen and (min-width: 768px) {
    .menu-desktop {
        width: 100%;
        display: block;
        padding: 0;
        line-height: 50px;
        justify-content: space-evenly;
        flex-direction: row;
        height: 0;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-desktop a {
        display: inline-flex;
        margin-right: 30px;
        height: 0;
        line-height: 50px;
        text-decoration: none;
        color: #333;
        justify-content: space-evenly;
    }
    .menu-desktop a:hover {
        color: red;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: block;
    }

    header.nav, .menu-mobile {
        display: none;
    }
    /* END of desktop menu for 768 media query */

}
	.homepage-grid {
		display: inline-block;
		height: 50vw;
	}

	.subpage-logo-container {
		display: inline-block;
		width: 20vw;
		margin-top: 40px;
		margin-left: 7vw;
	}

	.subpage-nav-container {
		display: inline-block;
	}

	nav {
		display: inline-block;
		list-style-type: none;
		text-decoration: none;
		margin: auto;
		width: 50%;
	}

	nav ul {
		float: right;
	}

	main {
		max-width: 50vw;
		padding: 4vw 7vw 7vw 7vw;
	}

	.homepage-grid {
		display: block;
	}

	.grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		width: 80%;
		margin: auto 7vw;
	}

	.about-body {
		display: inline-block;
	}

	.about-staff {
		display: inline-block;
	}

	.about-map {
		float: left;
		display: inline-block;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: auto;
		width: 40vw;
	}

	.about-contact {
		display: inline-block;
		width: 40vw;
	}

	footer {
		padding: 2vw;
	}
}

@media only screen and (min-width: 1024px) {
	.grid {	
		grid-template-columns: 1fr 1fr 1fr;
	}
}