/* Enter your Styles below! */


body {
	background: rgb(39,32,22);
	background: linear-gradient(180deg, rgba(39,32,22,1) 0%, rgba(71,66,59,1) 25%, rgba(110,105,100,1) 100%);
}

h1 {
	font-family: Henderson Slab, sans-serif;
	font-weight: 300;
	font-size: 35px;
	color: white;
}

.homepage-logo {
	margin: auto;
	width: 50vw;
}

.homepage-grid {
	display: inline-block;
	vertical-align: right;
	margin-right: 0;
	grid-template-columns: 1fr;
}

h2 {
	font-family: Henderson Slab, sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: white;
}

header {
	margin-bottom: 20px;
}

header img {
	width: 15vw;
}

nav {
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float: right;
}

nav ul li {
	float: left;
	padding-left: 3vw;
	padding-right: 3vw;
}

body-paragraph {
	font-family: Usual, sans-serif;
	font-size: 14px;
	color: white;
}

.grid {
	display: inline-grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}

footer p {
	text-align: right;
}

@media only screen and (min-width: 768px) {
	body {
		background-color: lightblue;
	}

	.grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		width: 70%;
		margin: auto;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		background-color: salmon;
	}

	.grid {	
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		background-color: pink;
	}

	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}